node_modules/
opencode.json
.playwright-cli/
corrigir.txt
*.log
Backup/*
!Backup/.gitkeep

ABOUT.md
# Cypress generated artifacts (temporariamente removido para commit de evidencias)
automationexercise/Cypress/cypress/reports/
automationexercise/Cypress/cypress/allure/allure-report/
automationexercise/Cypress/cypress/allure/allure-results/

